<div class="header-section">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="row w-100">
            <div class="col-lg-5 col-12 mobile-header">
                <a routerLink="/" class="tm-header-logo">
                    <h1>KK PRINT LOGO</h1>
                    <!-- <img src="../../assets/logo.jpg" alt="surose"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                </button>
            </div>
            <div class="col-lg-7 col-12">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0 header-menus">
                        <li class="nav-item mx-3 company-profile">
                            <div class="d-block">
                                <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active">COMPANY
                                    PROFILE</a>
                                <div class="profile-dropdown">
                                    <ul>
                                        <li routerLink="/about-us">About Us</li>
                                        <li routerLink="/strength">Strength</li>
                                        <li routerLink="/infrastructure">Infrastructure</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mx-3 header-tab">
                            <a class="nav-link" aria-current="page" routerLink="/products">PRODUCTS</a>
                        </li>
                        <li class="nav-item mx-3 header-tab">
                            <a class="nav-link" aria-current="page" routerLink="/industries">CAREERS</a>
                        </li>
                        <li class="nav-item mx-3 header-tab">
                            <a class="nav-link" aria-current="page" routerLink="/contact-us">CONTACT US</a>
                        </li>
                    </ul>
                    <span class="contact-number cursor">+91 8347756701</span>
                </div>
            </div>
        </div>
    </nav>
</div>