<div class="row mt-5 footer-section w-100">
    <div class="col-6"><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118134.90642795184!2d70.77560298379684!3d22.28875201113289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca03bcf33ad9%3A0x174adcb0a1b662!2sK.K.%20Art%20Printers!5e0!3m2!1sen!2sin!4v1706556544960!5m2!1sen!2sin"
            width="950" height="650" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    <div class="col-6 contact-area">
        <div class="send-message-box">
            <h4>SEND YOUR MESSAGE</h4>
            <div class="d-flex mt-2">
                <input class="form-control input-height w-50 my-3" type="text" placeholder="Name">
                <input class="form-control input-height w-50 ms-2 my-3" type="email" placeholder="Email ID">
            </div>
            <input class="form-control input-height mb-3" type="text" name="contact-no" placeholder="contact-no">
            <textarea class="form-control my-3" name="message" id="" cols="10" rows="5"
                placeholder="Message"></textarea>

                <button class="btn btn-secondary mx-auto send-btn">SEND</button>
        </div>
        <div class="contact-detials">
            <div class="contact-line boredr-top">
                <h5>PHONE</h5>
                <p>+91 83477 56701</p>
            </div>
            <div class="contact-line">
                <h5>EMAIL</h5>
                <p>kkprintpack03@gmail.com</p>
            </div>
            <div class="contact-line">
                <h5>KK PRINT PACK SOLUTION</h5>
                <p>Shivam-7, Kevalam Road, Nr. Antriksh School,<br>
                    Devda, Kalavad Road, Rajkot-360 021. (Gj. - Ind)</p>
            </div>
        </div>
    </div>
</div>