<app-header></app-header>
<div class="about-banner">
    <div class="bg-square" data-aos="zoom-in" data-aos-duration="1700"></div>
    <img src="../../assets/about-images/about-us-banner.jpg" alt="">
    <div class="about-text">About Us</div>
</div>

<!-- COMPANY ABOUT -->
<div class="product-info-section">
    <div class="row">
        <div class="col-6">
            <div class="printing-image-bg" data-aos="zoom-in" data-aos-duration="1700"></div>
            <img src="../../assets/dashboard-image/rotogravure-printing-machines.jpg" class="d-block printing-image" alt="...">
        </div>
        <div class="col-6 priting-info">
            <p class="welcome-text mb-0" data-aos="fade-right">Welcome to</p>
            <h4 data-aos="fade-left" data-aos-duration="1200">KK PRINT PACK SOLUTIONS</h4>
            <p data-aos="zoom-in" data-aos-duration="1500">The strong foundation of KK PRINT PACK SOLUTIONS was laid
                down in 2014. The company came into existence as forward integration for parent company named,the
                company has shown its strength
                in providing solutions in the Printing & Packaging industry to the extent that today it has become one
                of the front runner companies in the state of Gujarat and expanding exponentially, offering its products
                and solutions to many other companies.</p>
            <p data-aos="zoom-in" data-aos-duration="1500">
                KK PRINT PACK SOLUTIONS excels in delivering customized packaging solutions to its Customers like Amul,
                Prabhuji
                Haldiram, Gopal, Evita, Top n Town, Sanchi etc. as per their requirements. It is a well-known name in
                the industry providing cost-effective solutions for food packaging without compromising on quality.</p>
            <p data-aos="zoom-in" data-aos-duration="1600">To meet changing trends and requirements, KK PRINT PACK
                SOLUTIONS
                keeps on innovating packaging techniques to deliver out of the box, unique packaging solutions. The
                manufacturing facility of KK PRINT PACK SOLUTIONS is <strong>India's first 100% non-toluene and
                    non-ketone (NTNK)</strong> plant
                which is recommended by experts as best suitable for food packaging.</p>
            <p data-aos="zoom-in" data-aos-duration="1700">The company is known for its best and on-time services which
                makes it the most preferred name among customers. For high-quality plast on reasonable rates
                complemented with unmatched services, KK PRINT PACK SOLUTIONS is the right choice.</p>
            <button class="btn btn-secondary readmore-btn" data-aos-duration="2000" data-aos="fade-right">Read
                More</button>
            <div class="d-flex score-section">
                <span class="count-number border-right">
                    <h3>8 <span>+</span></h3>
                    <div class="bottom-border"></div>
                    <p>YEAR OF EXPERIENCE</p>
                </span>
                <span class="count-number">
                    <h3>200 <span>+</span></h3>
                    <div class="bottom-border"></div>
                    <p>HAPPY CLIENTS</p>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- PROCESS DESCRIPTION -->
<div class="process-description text-center">
    <h4>PROCESS DESCRIPTION</h4>
    <div class="process-step-list">
        <div class="process-step" data-aos="flip-up" *ngFor="let process of [1,2,3,4,5,6]">
            <div class="step" data-aos="zoom-in" data-aos-duration="2000">1</div>
            <h5 data-aos="zoom-in" data-aos-duration="1800">Rotogravure Printing</h5>
            <div class="line" data-aos="fade-right" data-aos-duration="1800"></div>
            <p data-aos="fade-up" data-aos-duration="2000">4 High Speed Rotogravure Printing Machine</p>
        </div>
    </div>
</div>
<app-footer></app-footer>