<app-header></app-header>
<div class="stength-banner">
    <div class="bg-square" data-aos="zoom-in" data-aos-duration="1700"></div>
    <img src="../../assets/about-images/about-us-banner.jpg" alt="">
    <div class="stength-text">Strength</div>
</div>

<!-- DISCRIPTION CONTECT -->
<div class="strength-content mx-auto">
    <p>Our Strength is in our attitude to meet the trend and provide “one notch up” packaging solutions To</p>
    <p> our clients. In line with our attitude, we have a very strong in-house Research & Development team,</p>
    <p>working constantly for product & process innovations.</p>
    <br>
    <br>
    <p>Packaging Designs at Gopal PrintPack Solutions starts with market and customer requirement research work.</p>
    <p>Trending designs with the ease of handling and product safety is our USP. We support environment-friendly</p>
    <p>packaging format and use the best suitable packaging material with</p>
    <p>zero compromises on product quality.</p>
</div>

<!-- COMPANY CAROUSAL -->
<div class="row mx-0">
    <div>
      <section class="logo-carousel slider d-flex justify-content-center" data-arrows="true">
        <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image1.png"></div>
        <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image2.png"></div>
        <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image3.png"></div>
        <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image4.png"></div>
        <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image5.png"></div>
        <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image6.png"></div>
        <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image7.png"></div>
        <div class="slide"><img src="https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/image8.png"></div>
      </section>
    </div>
  </div>
  <app-footer></app-footer>
  <!-- <slick-carousel #slickModal>
    <div *ngFor="let item of items">
    </div>
  </slick-carousel>
   -->